<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='css/style.css' type='text/css'>
    <title>Tic-Tac-Toe-Tic-Tac-Toe-Tic</title>
</head>
<body>
    <h1> Tic-Tac-Toe-Tic-Tac-Toe-Tic</h1>
    <section class='game-board'>
    </section>
    <script rel='script' src='script/game.js'></script>
    <form>
        Number of Players: <input type="number" name="numPlayers" value='2'/>
        Board Size: <input type="number" name="boardSize" value='25' />
        <br/>
        <% for (i = 0; i < 2; i++) { %>
            Player <%=i+1%> Symbol: <input type="text" name="player<%=i+1%>Symbol" value='<%=i+1%>' />
            Player <%=i+1%> Name: <input type="text" name="player<%=i+1%>Name" />
            <br/>
        <% } %>
    </form>
</body>
</html>